.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

* {
  font-family: Montserrat;
}

body {
  height: 100%;
  background-color: #100C3C;
}

/* .text-success {
  color: white;
} */

.loading-icon {
  /* display: flex;
  align-self: center; */
  background-color: white;
}